@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

body {
	font-family: 'Titillium Web', sans-serif;
	font-size: 1.2rem;
}

#name-input {
	padding: 0.5rem;
	font-size: 0.8rem;
}

#name-div {
	padding-top: 1rem;
}

#submit-btn {
	padding: 0.5rem;
	font-size: 0.r8em;
}

ul {
}

li {
	text-transform: capitalize;
	text-decoration: none;
	display: inline-block;
	width: 20vw;
}
